NEXT_PUBLIC_SUPABASE_URL=https://fpeoadzpwbknsasdsyrq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZwZW9hZHpwd2JrbnNhc2RzeXJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk1NDU3MzQsImV4cCI6MjA5NTEyMTczNH0.TXHGrId_jVzzqO5owGnDkdy4Gh4h3ASnPNb_8skpaBc
NEXT_PUBLIC_API_URL=http://localhost:3001
